<!doctype html>
<title>{% block title %}{% endblock %} - Hippodamia</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('route_index') }}">Hippodamia</a></h1>
  <ul>
      <li><a href="{{ url_for('route_service_hierarchical') }}">hierarchical</a>
      <li><a href="{{ url_for('route_service_list') }}">services</a>
      <li><a href="{{ url_for('route_heartbeatstats') }}">heartbeat</a>
      <li><a href="{{ url_for('route_onboardingstats') }}">onboarding</a>
      <li><a href="{{ url_for('route_mqtt_stats') }}">mqtt</a>
      <li><a href="{{ url_for('route_notificationstats') }}">notification</a>
      <li><a href="{{ url_for('route_show_config') }}">config</a>
      <li><a href="{{ url_for('route_archive_list') }}">archive</a>
      <li><a href="{{ url_for('route_group_commands') }}">commands</a>
  </ul>
</nav>
{% block sub_nav %}{% endblock %}
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
