{% extends '_base.html' %}

{% block sub_nav %}
<nav>
    <h2>'{{gid}}'</h2>
  <ul>

{% if archive %}
        <li><a href="{{ url_for('route_archive_details', gid=gid) }}">details</a></li>
        <li><a href="{{ url_for('route_archive_messages', gid=gid) }}">messages</a></li>
        <li><a href="{{ url_for('route_archive_logs', gid=gid) }}">logs</a></li>
{% else %}
        <li><a href="{{ url_for('route_service_details', gid=gid) }}">details</a></li>
        <li><a href="{{ url_for('route_service_messages', gid=gid) }}">messages</a></li>
        <li><a href="{{ url_for('route_service_logs', gid=gid) }}">logs</a></li>
        <li><a href="{{ url_for('route_service_commands', gid=gid) }}">commands</a></li>
{% endif %}
  </ul>
</nav>
{% endblock %}

{% block header %}
  <h1>{% block title %}{{ title }}{% endblock %}</h1>
{% endblock %}
