{% extends '_base.html' %}

{% block header %}
  <h1>{% block title %}{{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}

<h2>Mqtt</h2>
<pre>{{ config["mqtt"]|pprint }}</pre>

<h2>Logger</h2>
<pre>{{ config["logger"]|pprint }}</pre>

<h2>Monitoring Agent</h2>
<pre>{{ config["monitoring-agent"]|pprint }}</pre>

<h2>Monitoring Service</h2>
<pre>{{ config["monitoringservice"]|pprint }}</pre>

{% endblock %}
