<!doctype html>

{% block content %}
<style>
/* Tooltip taken from https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 12px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext {
  width: 120px;
  top: 120%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.center {
  height: 100%;
  width: 100%;
  position: relative;
}

.center div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

</style>
<script language="JavaScript" type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
<script language="JavaScript" type="text/javascript">
function updateView(data) {
  var template = $('#health_template').html();
  Mustache.parse(template);   // optional, speeds up future uses
  var rendered = Mustache.render(template, data);
  $('#general_health').html(rendered);
}

window.onload = ajaxd

$(document).ready(
    function() {
      setTimeout(ajaxd, 500);  // if included with ajax, window.onload is not called
      setInterval(ajaxd, 30000);
    }
);

function ajaxd() {
  $.ajax({
   type: "GET",
   dataType: "json",
   url: "{{ url_for('route_general_health_data') }}",
   success: function(msg){
     updateView(msg)
   }
 });
}
</script>
{% raw %}
<script id="health_template" type="x-tmpl-mustache">
  <div style="background-color:{{ health }};width:100%;height:100%;
              color:WHITE;vertical-align:middle;text-align:center;">
    <div class="tooltip">{{ health }}
      <span class="tooltiptext">{{timestamp}}</span>
    </div>
  </div>
</script>
{% endraw %}

<a href="{{ url_for('route_index') }}" style="text-decoration: none;">
    <div  id="general_health" class="center">Loading...</div>
</a>


{% endblock %}
