{% extends '_base.html' %}

{% block header %}
  <h1>{% block title %}Group Commands{% endblock %}</h1>

{% endblock %}

{% block content %}

{% if message != "" %}
<div>{{ message }}</div>
{% endif %}
  <ul>
        <li><a href="{{ url_for('execute_group_commands', cmd='request_ping') }}">request_ping</a></li>
        <li><a href="{{ url_for('execute_group_commands', cmd='request_runtime') }}">request_runtime</a></li>
        <li><a href="{{ url_for('execute_group_commands', cmd='request_config') }}">request_config</a></li>
        <li><a href="{{ url_for('execute_group_commands', cmd='request_reonboarding') }}">request_reonboarding</a></li>
        <li><a href="{{ url_for('execute_group_commands', cmd='request_end') }}">request_end</a></li>
        <li><a href="{{ url_for('execute_group_commands', cmd='acknowledge_log') }}">acknowledge_log</a></li>
        <li><a href="{{ url_for('execute_group_commands', cmd='archive_agentshadows') }}">archive_agentshadows</a></li>
        <li><a href="{{ url_for('execute_group_commands', cmd='purge_agentshadowarchive') }}">purge_agentshadowarchive</a></li>
  </ul>
{% endblock %}

