{% extends '_base.html' %}

{% block header %}
  <h1>{% block title %}{{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}

<table>
{% for k, v in stats.items() %}
  <tr style="{{ loop.cycle('background:#D3D3D3;', '') }}">
    <th>{{ k }}</th>
    <td>{{ v }}</td>
  </tr>
{% endfor %}
</table>

{% endblock %}
