{% extends '_base.html' %}

{% block header %}
  <h1>{% block title %}{{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<script language="JavaScript" type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
<script language="JavaScript" type="text/javascript">
function updateView(data) {
  var template = $('#template').html();
  Mustache.parse(template);   // optional, speeds up future uses
  var rendered = Mustache.render(template, data);
  $('#target').html(rendered);
}

window.onload = ajaxd

$(document).ready(function() {
    setInterval(ajaxd, 30000);
});

function ajaxd() {
  $.ajax({
   type: "GET",
   dataType: "json",
   url: "{{ url_for('route_service_hierarchical_data') }}",
   success: function(msg){
     updateView(msg)
   }
 });
}
</script>
{% raw %}
<script id="template" type="x-tmpl-mustache">
<ul>
    {{#health}}
    <li>
    <div style="background-color:{{ health }}">{{ name }}</div>
    <ul>
        {{#children}}{{ !location }}
        <li>
        <div style="background-color:{{ health }}">{{ name }}</div>
        <ul>
            {{#children}} {{!room}}
            <li>
            <div style="background-color:{{ health }}">{{ name }}</div>
            <ul>
                {{#children}} {{!flat}}
                <li>
                <div style="background-color:{{ health }}">{{ name }}</div>
                <ul>
                    {{#children}} {{!service}}
                    <li>
                        <span><a href="{{ route_service_details }}">{{ name }}</a></span>
                        <span style="background-color:{{health}}">{{health}}</span>
                        <span>{{state}}</span>
                        <span>gid: {{gid}}</span>
                        <span><a href="{{ route_service_details }}">details</a></span>
                        <span><a href="{{ route_service_logs }}">logs</a></span>
                        <span><a href="{{ route_service_commands }}">commands</a></span>
                    </li>
                    {{/children}}
                </ul>
                </li>
                {{/children}}
            </ul>
            </li>
            {{/children}}
        </ul>
        </li>
        {{/children}}
    </ul>
    </li>
    {{/health}}
</ul>
<br/>
<div>{{ timestamp }}</div>
</script>
{% endraw %}

<div id="target">Loading...</div>


{% endblock %}
