{% extends '_base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}

<h2>General Health</h2>

<script language="JavaScript" type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script language="JavaScript">
  $.get("{{ url_for('route_general_health') }}",null,function(result) {
    $("#general_health_frame").html(result); // Or whatever you need to insert the result
},'html');
</script>
<div id="general_health_frame" style="width:100%; height:100px">Loading...</div>

{% endblock %}
