{% extends '_base.html' %}

{% block header %}
  <h1>{% block title %}{{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}

<h2>Overview</h2>
<table>
  <tr style="background:#D3D3D3;">
    <td style="text-align:right">connected</td>
    <td>{{ mqtt_stats["connected"] }}</td>
  </tr>
  <tr>
    <td style="text-align:right">received</td>
    <td>{{ mqtt_stats["mqtt_stats"]["received"] }}</td>
  </tr>
  <tr style="background:#D3D3D3;">
    <td style="text-align:right">sent</td>
    <td>{{ mqtt_stats["mqtt_stats"]["sent"] }}</td>
  </tr>
</table>
<div></div>
<h2>Active Topics</h2>
<table>
{% for k in sorted_active_topics %}
  <tr style="{{ loop.cycle('background:#D3D3D3;', '') }}">
    <td>{{ k }}</td>
    <td>{{ mqtt_stats["subscribed_topics"][k] }}</td>
  </tr>
{% endfor %}
</table>

<h2>Send/Receive per Topic</h2>
<table>
{% for k in sorted_sendrecv_topics %}
  <tr style="{{ loop.cycle('background:#D3D3D3;', '') }}">
    <td>{{ k }}</td>
    <td>{{ mqtt_stats["mqtt_stats"]["topics"][k] }}</td>
  </tr>
{% endfor %}
</table>

{% endblock %}
