{% extends '_base.html' %}

{% block header %}
  <h1>{% block title %}{{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}

<h2>General</h2>
<table>
  <tr style="background:#D3D3D3;">
    <th style="text-align:right">counter</th><td>{{ stats["counter"] }}</td>
  </tr>
  <tr>
    <th style="text-align:right">stored</th><td>{{ stats["stored"] }}</td>
  </tr>
  <tr style="background:#D3D3D3;">
    <th style="text-align:right">enforcement</th><td>{{ stats["enforcement"] }}</td>
  </tr>
  <tr>
    <th style="text-align:right">protocol_version</th><td>{{ stats["protocol_version"] }}</td>
  </tr>
  <tr style="background:#D3D3D3;">
    <th style="text-align:right">topic_onboarding_request</th><td>{{ stats["topic_onboarding_request"] }}</td>
  </tr>
  <tr>
    <th style="text-align:right">last_timestamp</th><td>{{ stats["last_timestamp"] }}</td>
  </tr>
</table>

<h2>GID List</h2>
<pre>{{ stats["gid_list"] }}</pre>

<h2>Messages</h2>
{% for entry in stats["messages"]|reverse %}
<pre style="{{ loop.cycle('background:#D3D3D3;', '') }}">
Timestamp: {{ entry["time"] }}
{{ entry["message"]|pprint }}
</pre>
{% endfor %}

{% endblock %}
