{% extends '_service.html' %}

{% block content %}

{% if message != "" %}
<div>{{ message }}</div>
{% endif %}
  <ul>
        <li><a href="{{ url_for('execute_commands', gid=gid, cmd='request_ping') }}">request_ping</a></li>
        <li><a href="{{ url_for('execute_commands', gid=gid, cmd='request_runtime') }}">request_runtime</a></li>
        <li><a href="{{ url_for('execute_commands', gid=gid, cmd='request_config') }}">request_config</a></li>
        <li><a href="{{ url_for('execute_commands', gid=gid, cmd='request_reonboarding') }}">request_reonboarding</a></li>
        <li><a href="{{ url_for('execute_commands', gid=gid, cmd='request_end') }}">request_end</a></li>
        <li><a href="{{ url_for('execute_commands', gid=gid, cmd='acknowledge_log') }}">acknowledge_log</a></li>
  </ul>


{% endblock %}
