{% extends '_service.html' %}

{% block content %}

<ul>
{% for k in log_ids %}
  <li><a href="#{{ k }}">{{ k }} ({{ logs[k]["counter_received"] }})</a>
{% endfor %}
</ul>

<div><a href="{{ url_for('execute_commands', gid=gid, cmd='acknowledge_log') }}">acknowledge_log</a></div>

{% for k in log_ids %}
  <a name="{{ k }}"/>
  <h2>{{ k }}</h2>
  <div>received: {{ logs[k]["counter_received"] }}, stored: {{ logs[k]["counter_stored"] }}</div>
  {% for entry in logs[k]["entries"] %}
  <pre style="{{ loop.cycle('background:#D3D3D3', '') }}">{{ entry|pprint|safe }}</pre>
  {% endfor %}
  {% if logs[k]["counter_removed"] > 0 %}
  <div>skipping {{ logs[k]["counter_removed"] }} removed entries</div>
  {% endif %}

{% endfor %}

{% endblock %}
