{% extends '_service.html' %}

{% block content %}

<ul>
{% for entry in message_types %}
  <li><a href="#{{entry}}">{{entry}}</a> ({{messages[entry]["counter"]}})</li>
{% endfor %}
</ul>

{% for entry in message_types %}
<h2><a name="{{entry}}"/>{{entry}}</h2>
<table>
  <tr style="background:#D3D3D3;">
    <td style="text-align:right">counter</td><td>{{ messages[entry]["counter"] }}</td>
  </tr>
  <tr>
    <td style="text-align:right">stored</td><td>{{ messages[entry]["stored"] }}</td>
  </tr>
  <tr style="background:#D3D3D3;">
    <td style="text-align:right">maxlen</td><td>{{ messages[entry]["maxlen"] }}</td>
  </tr>
  <tr>
    <td style="text-align:right">last timestamp</td><td>{{ messages[entry]["time"] }}</td>
  </tr>
</table>
{% for message in messages[entry]["messages"] %}
<pre style="{{ loop.cycle('background:#D3D3D3;', '') }}">
  {{ message | pprint }}
</pre>
{% endfor %}
{% endfor %}

{% endblock %}
