{% extends '_service.html' %}

{% block content %}

<ul>
  <li><a href="#general">General</a></li>
  <li><a href="#state_machine">State Machine</a></li>
  <li><a href="#properties">Properties</a></li>
  <li><a href="#logger">Logger</a></li>
  <li><a href="#messages">Messages</a></li>
</ul>

<h2><a name="general"/>General</h2>
<h3>Micro-Service</h3>
<table>
    <tr style="background:#D3D3D3;"><td>name</td><td>{{ stats["general"]["micro-service"]["name"] }}</td></tr>
    <tr style=""><td>type</td><td>{{ stats["general"]["micro-service"]["type"] }}</td></tr>
    <tr style="background:#D3D3D3;"><td>module</td><td>{{ stats["general"]["micro-service"]["module"] }}</td></tr>
    <tr style=""><td>uptime</td><td>{{ stats["general"]["micro-service"]["uptime"] }}</td></tr>
    <tr style="background:#D3D3D3;"><td>session</td><td>{{ stats["general"]["micro-service"]["session"] }}</td></tr>
    <tr style=""><td>health</td><td style="background:{{ stats["general"]["micro-service"]["health"] }}">{{ stats["general"]["micro-service"]["health"] }}</td></tr>
</table>

<h3>Message Statistics</h3>
<table>
    {% for k, v in stats["general"]["message-stats"].items() %}
    <tr style="{{ loop.cycle('background:#D3D3D3;', '') }}">
        <td>{{ k }}</td>
        <td>{{ v }}</td>
    </tr>
    {% endfor %}
</table>

<h3>Topics</h3>
<table>
    {% for k, v in stats["general"]["topics"].items() %}
    <tr style="{{ loop.cycle('background:#D3D3D3;', '') }}">
        <td>{{ k }}</td>
        <td>{{ v }}</td>
    </tr>
    {% endfor %}
</table>

<h2><a name="state_machine"/>State Machine</h2>
<h3>States</h3>
<table style="width:100%">
<tr>
    <th rowspan="2">State</th>
    <th rowspan="2">duration</th>
    <th colspan="2">counter</th>
    <th colspan="2">timestamp</th>
</tr>
<tr>
    <th>on_entry</th>
    <th>on_exit</th>
    <th>on_entry</th>
    <th>on_exit</th>
</tr>
{% for k in ["ACTIVE", "ARCHIVECANDIDATE", "ARCHIVED", "INACTIVE", "LOST", "ONBOARDED", "ONBOARDING", "STOPPED"] %}
    <tr style="{{ loop.cycle('background:#D3D3D3;', '') }}
               {% if (stats['general']['active-state']['output'] == k) %}font-weight:bold;{% endif %}">
        <td>{{ k }}</td>
        <td style="text-align:right">{{ stats["states"][k]["duration"] }}</td>
        <td style="text-align:right">{{ stats["states"][k]["counter_on_entry"] }}</td>
        <td style="text-align:right">{{ stats["states"][k]["counter_on_exit"] }}</td>
        <td style="text-align:right">{{ stats["states"][k]["timestamp_on_entry"] }}</td>
        <td style="text-align:right">{{ stats["states"][k]["timestamp_on_exit"]}}</td>
    </tr>
{% endfor %}
</table>

<h3>History</h3>
<table>
    <tr>
        <th>From</th>
        <th>Event</th>
        <th>To</th>
        <th>Timestamp</th>
    </tr>
    {% for entry in stats["state_machine"]["history"] %}
    <tr style="{{ loop.cycle('background:#D3D3D3;', '') }}">
        <td>{{ entry["from"] }}</td>
        <td>{{ entry["event"] }}</td>
        <td>{{ entry["to"] }}</td>
        <td>{{ entry["time"] }}</td>
    </tr>
    {% endfor %}
</table>

<h3>Timings</h3>
<table>
    {% for k, v in stats["general"]["timings"].items() %}
    <tr style="{{ loop.cycle('background:#D3D3D3;', '') }}">
        <td>{{ k }}</td>
        <td>{{ v }}</td>
    </tr>
    {% endfor %}
</table>

<h2><a name="properties"/>Properties</h2>
<div>last update: {{  stats["properties"]["timestamp"] }}</div>
<pre>{{ stats["properties"]["entries"]|pprint|safe }}</pre>

<h2><a name="logger"/>Logger</h2>
<table>
    <tr>
        <th>Level</th>
        <th>Received</th>
        <th>Stored</th>
        <th>Last Timestamp</th>
    </tr>
    {% for k in ["DEBUG", "INFO", "WARNING", "ERROR", "CRITICAL"] %}
    <tr style="{{ loop.cycle('background:#D3D3D3;', '') }}">
        <td>{{ k }}</td>
        <td>{{ stats["logger"]["logs"][k]["stats"]["received"] }}</td>
        <td>{{ stats["logger"]["logs"][k]["stats"]["stored"] }}</td>
        <td>{{ stats["logger"]["logs"][k]["stats"]["time"] }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Messages</h2>
<table>
    <tr>
        <th>Message</th>
        <th>Recevied</th>
        <th>Stored</th>
        <th>Last Timestamp</th>
    </tr>
{% for k in ["request", "config", "runtime", "ping", "logger", "end"] %}
    <tr style="{{ loop.cycle('background:#D3D3D3;', '') }}">
        <td>{{ k }}</td>
        <td>{{  stats["messages"][k]["counter"] }}</td>
        <td>{{  stats["messages"][k]["stored"] }}</td>
        <td>{{  stats["messages"][k]["time"] }}</td>
    </tr>
{% endfor %}
</table>


{% endblock %}
s