{% extends '_base.html' %}

{% block header %}
  <h1>{% block title %}List {{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<script language="JavaScript" type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
<script language="JavaScript" type="text/javascript">
default_sort = "gid";
last_data = null;

function setOrder(column) {
  if (column == "name" || column == "type" || column == "gid" || column == "state" || column == "health" || column == "necessity" || column == "log_count") {
    default_sort = column;
    if (last_data != null) {
      updateView(last_data);
    }
  }
}

function nullHandler(a) {
  return (a === null) ? "" : "" + a
}

function orderEntries(entries, column) {
  var sort_function = null;
  if (column == "name") {
    sort_function = function(a, b){a = nullHandler(a.name); b = nullHandler(b.name); return (a > b) - (a < b)}
  } else if (column == "type") {
    sort_function = function(a, b){a = nullHandler(a.type); b = nullHandler(b.type); return (a > b) - (a < b)}
  } else if (column == "gid") {
    sort_function = function(a, b){a = nullHandler(a.gid); b = nullHandler(b.gid); return (a > b) - (a < b)}
  } else if (column == "state") {
    sort_function = function(a, b){a = nullHandler(a.state); b = nullHandler(b.state); return (a > b) - (a < b)}
  } else if (column == "health") {
    sort_function = function(a, b){a = nullHandler(a.health); b = nullHandler(b.health); return (a > b) - (a < b)}
  } else if (column == "necessity") {
    sort_function = function(a, b){a = nullHandler(a.necessity); b = nullHandler(b.necessity); return (a > b) - (a < b)}
  } else if (column == "log_count") {
    sort_function = function(a, b){return b.log_count - a.log_count}
  }

  if (sort_function == null) {
    entries.sort();
  } else {
    entries.sort(sort_function);
  }
  return entries
}

function updateView(data) {
  var template = $('#template').html();
  Mustache.parse(template);   // optional, speeds up future uses
  data.entries = orderEntries(data.entries, default_sort);
  data.type_archive = {% if archive %}true{% else %}false{% endif %}
  var rendered = Mustache.render(template, data);
  $('#target').html(rendered);
  last_data = data;
}

window.onload = ajaxd

$(document).ready(function() {
    setInterval(ajaxd, 30000);
});

function ajaxd() {
  $.ajax({
   type: "GET",
   dataType: "json",
   url: "{{ update_route }}",
   success: function(msg){
     updateView(msg)
   }
 });
}
</script>
{% raw %}
<style type="text/css">
    .mytable {width:100%; border-collapse:collapse;}
	.mytable tr:nth-child(odd){}
	.mytable tr:nth-child(even){background: #D3D3D3;}
</style>
<script id="template" type="x-tmpl-mustache">
<table class="mytable">
    <tr>
        <th onclick="setOrder('gid')">gid <a onclick="setOrder('gid')">&#8597;</a></th>
        <th onclick="setOrder('name')">name <a onclick="setOrder('name')">&#8597;</a></th>
        <th onclick="setOrder('type')">type <a onclick="setOrder('type')">&#8597;</a></th>
        <th onclick="setOrder('state')">state <a onclick="setOrder('state')">&#8597;</a></th>
        <th onclick="setOrder('health')">health <a onclick="setOrder('health')">&#8597;</a></th>
        <th onclick="setOrder('necessity')">necessity <a onclick="setOrder('necessity')">&#8597;</a></th>
        <th onclick="setOrder('log_count')">log <a onclick="setOrder('log_count')">&#8597;</a></th>
        <th style="writing-mode:vertical-rl">details</th>
        <th style="writing-mode:vertical-rl">messages</th>
        <th style="writing-mode:vertical-rl">logs</th>
{{^type_archive}}
        <th style="writing-mode:vertical-rl">commands</th>
{{/type_archive}}
    </tr>
    {{#entries}}
    <tr>
        <td>{{ gid }}</td>
        <td>{{ name }}</td>
        <td>{{ type }}</td>
        <td>{{ state }}</td>
        <td style="background-color:{{ health }}">{{ health }}</td>
        <td>{{ necessity }}</td>
        <td>{{ log_count }}</td>
        <td><a href="{{ details }}">X</a></td>
        <td><a href="{{ messages }}">X</a></td>
        <td><a href="{{ logs }}">X</a></td>
{{^type_archive}}
        <td><a href="{{ commands }}">X</a></td>
{{/type_archive}}
    </tr>
    {{/entries}}
</table>
<br/>
<div>{{ timestamp }}</div>
</script>
{% endraw %}

<div id="target">Loading...</div>
{% endblock %}
